fastapi
uvicorn[standard]
beanie
motor
python-dotenv
pdfplumber
python-docx
google-genai
tree-sitter
tree-sitter-python
openai
langgraph
PyGithub




python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-magic
slowapi
